asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==46.0.7
defusedxml==0.7.1
Django==6.0.4
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
dotenv==0.9.9
drf-extra-fields==3.7.0
filetype==1.2.0
flake8==7.3.0
gunicorn==25.3.0
idna==3.11
mccabe==0.7.0
oauthlib==3.3.1
packaging==26.1
pillow==12.2.0
psycopg2==2.9.11
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
PyJWT==2.12.1
python-dotenv==1.2.2
python3-openid==3.2.0
requests==2.33.1
requests-oauthlib==2.0.0
social-auth-app-django==5.7.0
social-auth-core==4.8.5
sqlparse==0.5.5
urllib3==2.6.3
